@charset "UTF-8";
.header {
  background-color: $main_color;
  padding: 2rem;
}
.header__inner {
	@include inner;
	display: flex;
	justify-content: space-between;
}

.header__nav {

	&-pc {

		@include mq('tab') {
			display: none;
		}
	}

	&-sp {
		display: none;
		@include mq('tab') {
			display: block;
		}
	}

	ul {
	display: flex;
	align-items: center;

		li:not(:last-child) {
			margin: 0 2rem 0 0;
		}
	}
}

//ハンバーガーメニュー
.menu{
	height: 20px;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 30px;
	z-index: 99;
}
.menu__line{
	background: #000;
	display: block;
	height: 2px;
	position: absolute;
	transition:transform .3s;
	width: 100%;

	&--center{
		top: 9px;
	}

	&--bottom{
		bottom: 0;
	}

	&--top.active{
		top: 8px;
		transform: rotate(45deg);
	}

	&--center.active{
		transform:scaleX(0);
	}

	&--bottom.active{
		bottom: 10px;
		transform: rotate(135deg);
	}
}

//ハンバーガーメニューの中身
.gnav{
	background: rgba(0,0,0,0.8);
	display: none;
	left: 0;
  top: 55px; //headerの高さ
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 98;
}
.gnav__wrap{
	align-items:center;
	display: flex;
	height: 100%;
	justify-content: center;
	position: absolute;
	width: 100%;
}
.gnav__menu__item{
	margin: 40px 0;
}
.gnav__menu__item a{
	color: #fff;
	font-size: 2em;
	font-weight: bold;
	padding: 40px;
	text-decoration: none;
	transition: .5s;

	&:hover{
		color: #666;
	}
}
